.container {
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    padding: 5px;
    background-color: #120136;
    text-align: center;
    color: #f0f8ff;
    margin-bottom: 2%;
}

body {
    margin: 0;
}

.case-1{
    padding: 2px;
    background-color: #fcbf1e;
    margin-bottom: 0.5%;
    /* border: 2px solid red; */
    border-width: 2px;
    border-style: solid;
    border-color: red;
    height: initial;
    width: initial;
    /* border-left: dotted yellow; */
    border-radius: 5px;
}

.case-1 p {
    margin-left: 2%;
}

.code {
    margin-left: 2%;
    text-align: left;
}


.case-2{
    padding: 2px;
    background-color: #40bad5;
    margin-bottom: 0.5%;
    height: 180px;
    width: 26%;
}

.case-2 p {
    margin-left: 2%;
}

.case-3-parent {
    height: 200px;
    width: 40%;
    background-color: chartreuse;
}

.case-3{
    padding: 2px;
    background-color: #035aa6;
    margin-bottom: 0.5%;
    width: auto;
    height: inherit; /* change value here */
} 

.case-3 p {
    color: #ececec;
    margin-left: 2%;
}

.case-3 .code {
    color: #ececec;
}

/* 
Border style value 

dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border 

*/


/* 
width and height value

auto - This is default. The browser calculates the height and width
length - Defines the height/width in px, cm etc.
% - Defines the height/width in percent of the containing block
initial - Sets the height/width to its default value
inherit - The height/width will be inherited from its parent value 

*/