.content {
    color: red;
}
.header {
    background-color: #120136;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 25% 25% 25% 25%;
}

/* body {
    background-color: red;
} */